body {
    /* background: #fafafa; */
    color: #333333;
    margin-top: 5rem;
  }

  .light{
    background-color: rgb(238, 240, 241);
  }

  .nodeco li{
    list-style: none;
  }

  .un{
    color: silver;
  }

  .text-search{
    color:rgb(224, 129, 19);
  }

  .bg {
    background-image: url("images/book.jpg");
    background-color: rgb(240, 159, 121);
    background-blend-mode: screen;
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }

  .site-header .navbar-nav .nav-link{
    color: silver;
  }
  
  .navbar-brand{
    color: rgb(192, 192, 192);
    font-weight: Bold;
  }
  .site-header .navbar-nav .nav-link:hover, .navbar-brand:hover {
    color:rgb(255, 160, 122);
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }


  .article-title {
    color:rgb(74, 144, 236);
  }
  
  a.article-title:hover {
    color:rgb(218, 165, 32);
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    color:darkblue;
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .flex-row{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .flex-in{
    width:200px;
    background-color: pink;
  }