{% extends "layout.html" %}
{% block body %}
<div class="content-section">
    <form action="" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <Fieldset class="form-group">
            <legend class="border-bottom mb-4">Change Password</legend>
            
            <div class="form-group">
                <label for="password" class="form-control form-control-lg light">Password</label>
                {% if messages['password'] %}
                    <input type="password" class="form-control form-control-lg is-invalid" id="password" name="password" placeholder="Password">     
                    <div class="invalid-feedback">
                            <span> {{ messages['password'] }} </span>
                    </div>
                {% else %}
                    <input type="password" class="form-control form-control-lg" id="password" name="password" placeholder="Password">     
                {% endif %}
            </div>
            <div class="form-group">
                <label for="confirmpassword" class="form-control form-control-lg light">Confirm Password</label>
                {% if messages['confirmpassword'] %}
                    <input type="password" class="form-control form-control-lg is-invalid" id="confirmpassword" name="confirmpassword" placeholder="Password">     
                    <div class="invalid-feedback">
                            <span> {{ messages['confirmpassword'] }} </span>
                    </div>
                {% else %}
                    <input type="password" class="form-control form-control-lg" id="confirmpassword" name="confirmpassword" placeholder="Password">     
                {% endif %}
            </div>
        </Fieldset>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-info">Submit</button>
        </div>
      </form>
</div>
{% endblock body %}