{% extends "layout.html" %}
{% block body %}
    <div class="content-section">
        <div class="media">
          <!-- <img class="rounded-circle account-img" src={{ image_file }}> -->
          <div class="media-body">
            <h2 class="account-heading">About this project</h2>
            <p class="text-secondary">This is a project work for CS50's Web Programming with Python and JavaScript run by edx as part of the HarvardX: CS50W program.</p>
            <p class="text-secondary">The technologies used here are Python based modules such as Flask, SQL Alchemy (ORM), FORMS, CSRF implementing a book review site and to provide an API for users to extract information from this website in JSON format for reuse.</p>
            </div>
        </div>
    </div>
{% endblock body %}